body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }
  
  .calculator {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .btn {
    width: 70px;
    height: 50px;
    margin: 5px;
    background-color: #3498db;
    color: #fff;
    border: 1px solid #2980b9;
    border-radius: 3px;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .numbers {
    flex-grow: 1;
    margin-right: 5px;
  }
  
  .operations {
    display: flex;
    flex-direction: column;
  }
  
  #display {
    background-color: #ecf0f1;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
  }
  